

/* NAV BAR */
nav ul {
	background-color: white;
    position: relative;
    margin: 0;
    padding: 0 0px 0 0px;
	/* top: 10px; */
}
nav ul li {
	float:left;
	list-style-type: none;
    background-color: black;
    text-align: center;   
    
    width: 50%;
}
nav ul li a {
	display: block;
	color: black;
    text-decoration: none;
	padding: 14px 16px;
    font-size: 16px;
    color: white;
}
nav ul li a:hover {
    background-color: white;
    background-image: url("/lol.png");
    background-repeat:no-repeat;
    background-size: 10%;
    background-position-x: 30%;
    background-position-y: center;
	color: black;
	text-decoration: none;
}

/*

GRID

*/

@font-face{
    font-family:"jokerman";
    src:url("/Jokerman-Regular.ttf");
}

body {
    font-size: 16px;
    font-family: "jokerman"
}
html {
    height: 100%;
    
}

.container {
    display: grid;
    background-color: #EFEFEF;
    /*  Define the size and number of columns in our grid. 
    The fr unit works similar to flex:
    fr columns will share the free space in the row in proportion to their value.
    We will have 2 columns - the first will be 3x the size of the second.  */
    grid-template-columns: 1fr 3fr 1fr;
    /* grid-template-rows: 1fr .5fr 4fr 1fr; */

    /*  Assign the grid areas we did earlier to specific places on the grid. 
        First row is all header.
        Second row is shared between main and sidebar.
        Last row is all footer.  */
    grid-template-areas: 
    "header header header"
    "menu menu menu"
	"sidebarLeft main sidebarRight"
    "footer footer footer";

    /*  The gutters between each grid cell will be 60 pixels. */
    grid-gap: 5px;
}
button{
    margin: 30px 0px;
    padding:1em;
    background-color: #4c00ff;
    border: none;
    text-align: center;
    /* border-radius: 4px; */
    font-size: 32px;
    color:white;
    box-shadow: 3px 3px 2px grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
div {
    text-align: center;
    color:black;
    box-sizing: border-box;
    padding: 10px;
}

.header {
    grid-area: header;
    background-color: #FF5035;
    align-items: center;
    padding: 30px;
    min-height: 115px;
}
.header label {
    font-size: 48px;
    margin: auto;
}
.menu {
    grid-area: menu;
    /* background-color: rgb(124, 47, 47); */
    /* color: #333; */
    min-height: 57px
}
.menu .nav {
    size: 100%;
}

.sidebarRight {
    grid-area: sidebarRight;
    /* background-color: #BDD4DE; */
    color: #333;
}
.sidebarLeft {
    grid-area: sidebarLeft;
    /* background-color: #BDD4DE; */
    color: #333;
}

.main {
    grid-area: main;
    /* background-color: #EFEFEF; */
    color: #333;
    min-height: 500px;  
}

.footer {
    grid-area: footer;
    background-color: #00fa3e;
    display:flex;
    flex-direction: row;
    width:100%;
    justify-content: center;
    color:black;
    /* min-height: 115px; */
}

.footer a {
    color:black;
    text-decoration: none;
}
#searchSubmit {
    padding:10px;
    font-size: 24px;
    margin: 0;
    margin-left: 12px;
    /* box-shadow: 3px 3px 2px grey; */
}
#searchText {
    padding: 10px;
    /* height: 48px; */
    font-size: 24px;
}
form {
    margin: 30px;
}

/*  JOKE */

.joke{
    color:black;
    font-size:32px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height:100%;
}
